---
import CreateSession from "../../components/chat/CreateSession.astro";


const {chats, profile} = Astro.props;
---

<!-- Session List -->
<div class="space-y-4">
    <ul id="session-list" class="space-y-2">
      {chats?.slice(0, 5).map((session) => (
        <li>
          🗪 <a href = `/c/${session.id}` class="text-sm text-center">
            {session.session_name} </a>
        </li>
      ))}
    </ul>
  
    <!-- Buttons Container -->
    <div class="flex gap-2">
      <CreateSession profile={profile} />

  
      <a href="/c">
        <button
          id="view-more"
          class="flex items-center justify-center gap-1 bg-custom-yellow hover:bg-yellow-600 text-white font-medium text-sm py-2 px-3 rounded transition-colors"
        >
          <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"
            />
          </svg>
          Ver más
        </button>
      </a>
      
    </div>
  </div>



<script is:inline>
  
</script>