---
---


<form action="/api/upload" method="post" enctype="multipart/form-data">
    <label for="file">Sube una imagen de planta:</label>
    <input type="file" name="file" id="file" required>
    <button type="submit">Analizar Imagen</button>
</form>
