---
import Layout from '../../../../layouts/DashboardLayout.astro';
import CompleteLogsView from '../../../../components/cultivos/indoor/CompleteLogsView';
import { authenticate } from '../../../../lib/auth';
import { supabase } from '../../../../lib/supabase';


const { id } = Astro.params;

const { user, redirect } = await authenticate(Astro);
if (redirect) {
    return Astro.redirect(redirect);
}

const user_id = user?.id;



const { data: ambiente_logs } = await supabase
  .from('cultivos')
  .select('*')
  .eq('id', id)
  .eq('uuid', user_id);

console.log("ambiente_logs", ambiente_logs);
---

<Layout title="Historial Completo" description="Visualización de todos los registros del cultivo">
    <div class="container mx-auto px-4">

        
        <CompleteLogsView client:load cultivoId={id} user_id={user_id} ambiente_logs={ambiente_logs} />
    </div>
</Layout>
