---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main class=" mt-20">
			<h1 class="text-center text-green-900">¡{SITE_TITLE}!</h1>
			<p class="text-center text-green-900">¡Bienvenidos a {SITE_TITLE}! Aquí encontrarás todo lo que necesitas para comenzar a cultivar tus propios alimentos en casa. ¡Vamos a sembrar juntos!</p>
			<img src="/logo.png" alt="Farmiemos con Ganas" class="mx-auto items-center" width="400" height="400">
		</main>
		<Footer />
	</body>
</html>
