---
import ExplicacionAI from "../components/dashboard/ExplicacionAI.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout title="Que hacemos en Farmiemos?" description="Farmiemos con ganas es una plataforma que te ayuda a mejorar tus plantas preferidas.">
    <h1 class="text-3xl font-bold text-gray-800">Que hacemos</h1>
    <section id="explicacion_ai" class="">


            <ExplicacionAI />

    </section>
    <section id="calculator_ai" class="mt-8">
        <h2 class="text-2xl font-bold text-gray-800">Calculadora AI</h2>
        <p class="text-sm text-gray-600">
            Calcula el Déficit de Presión de Vapor (VPD) y el Punto de Rocío (Dewpoint) 
            de tu cultivo junto a farmiemos, si quieres saber más detalles de 
            su funcionamiento  
            <a href="/que-hacemos#calculator_ai" class="text-green-900 font-semibold">Haz click aquí!</a>
        </p>
    </section>


</Layout>
