---
import SigninForm from "../components/SigninForm.astro";
import Layout from "../layouts/Layout.astro";

const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

if (accessToken && refreshToken) {
  const redirectUrl = Astro.url.searchParams.get('redirect') || '/dashboard';
  return redirect(redirectUrl);
}


---

<Layout title="Farmiemos - Ingreso" description="Ingresa a Farmiemos para comenzar a cuidar tus plantas.">

    <div class="flex items-center justify-center px-4 sm:px-6 lg:px-8 py-8">
      <div class="max-w-md w-full space-y-8">
        <div class="text-center">
          
          <h1 class="text-3xl font-black text-custom-yellow md:text-4xl">Bienvenido a la familia <span class="text-custom-green">Farmiemos</span>!</h1>
          <p class="mt-2 text-sm text-gray-600">
            ¿Nuevo aquí? 
            <a href="/que-hacemos" class="font-medium text-indigo-600 hover:text-custom-blue">
              Estos hacemos...
            </a>
          </p>
        </div>
        <SigninForm />

        <img
        width="50"
        height=""
        src="/mascota_dance.gif"
        alt="Login illustration"
        class="object-cover w-full h-full"
      />
      </div>
    </div>


</Layout>