---
---


	        <!-- Por qué elegirnos -->
			<section class="bg-green-100 rounded-lg p-8 mt-8">
				<h2 class="text-3xl font-bold text-green-700">🌱 ¿Por qué elegir a <span class="text-custom-yellow">Farmiemos</span>?</h2>
				<ul class="mt-4 list-disc pl-5 space-y-2 text-gray-700">
					<li>Democratizamos la tecnología agrícola mediante dispositivos accesibles y fáciles de usar.</li>
					<li>Nos enfocamos en soluciones personalizadas, basadas en información práctica y local.</li>
					<li>Buscamos formar una comunidad de agricultores conectados, donde el intercambio de modelos de cultivo optimizados beneficie a todos.</li>
				</ul>
				<p class="mt-4 text-lg">
					En <span class="font-bold">Farmiemos</span>, queremos transformar la forma en que cultivas. Nuestro objetivo es facilitarte el acceso a soluciones innovadoras, ofreciendo un respaldo constante y herramientas tecnológicas para que tus cultivos alcancen todo su potencial. ¡Déjanos ser tu aliado en este apasionante viaje! 🚜🌾
				</p>
			</section>