---
const today = new Date();
---

<footer class="pt-20 pb-8 px-4 bg-gradient-to-b from-white to-custom-green">
	<div class="container mx-auto justify-between items-center gap-4">
		<p class="text-sm text-black text-center">Hecho con ❤️ por <a class="text-black hover:text-gray-800" href="https://instagram.com/chocolohans">Chocolopeison</p>
	</div>
	
</footer>

