---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import { authenticate } from '../lib/auth';

const { user } = await authenticate(Astro);
---

<header>
    <nav>
        <div class="menu-left">
            <h2><a href="/">{SITE_TITLE}</a></h2>
        </div>
        <div class="menu-right">
            <HeaderLink href="/dashboard">Dashboard</HeaderLink>
            <a href="https://instagram.com/farmiemos" target="_blank">
                <span class="sr-only">Follow Farmiemos on Instagram</span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="32" height="32" stroke-width="2">
                    <path d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z"></path>
                    <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
                    <path d="M16.5 7.5l0 .01"></path>
                </svg>
            </a>
            <button class="burger-menu">☰</button>
        </div>
    </nav>
    <div class="mobile-menu">
        <HeaderLink href="/">Home</HeaderLink>
		{user ? (
        <HeaderLink href="/profile">Profile</HeaderLink>
		) : ''}
		{user ? (
		<HeaderLink href="/mastergrow">Mastergrow</HeaderLink>
		) : ''}
        <HeaderLink href="/blog">Blog</HeaderLink>
        <HeaderLink href="/about">About</HeaderLink>
        {user ? (
        <form action="/api/auth/signout">
            <button type="submit">Sign out</button>
        </form>
        ) : ''}
    </div>
</header>

<style>
    header {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
        margin: 0;
        padding: 0 1em;
        background: white;
        box-shadow: 0 2px 8px rgba(var(--black), 5%);
    }
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .menu-left h2 {
        margin: 0;
        font-size: 1.2em;
    }
    .menu-right {
        display: flex;
        align-items: center;
        gap: 1em;
    }
    .burger-menu {
        font-size: 2em;
        background: none;
        border: none;
        cursor: pointer;
    }
    .mobile-menu {
        display: none;
        flex-direction: column;
    }
    .mobile-menu.active {
        display: flex;
    }
    @media (max-width: 720px) {
        .menu-right > *:not(.burger-menu) {
            display: none;
        }
    }
</style>

<script is:inline>
    document.querySelector('.burger-menu').addEventListener('click', function() {
        const menu = document.querySelector('.mobile-menu');
        menu.classList.toggle('active');
    });
</script>
