---
import Layout from "../layouts/Layout.astro";

---
<Layout title="">
    <form method="POST" action="/api/mercadopago/subscribe">
        <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">Suscribirme</button>
      </form>      
</Layout>