---
// Importa supabase y Layout
import Layout from '../../layouts/DashboardLayout.astro';
import ChatInterface from '../../components/chat/ChatInterface.astro';
import ChatMessage from '../../components/chat/ChatMessage.astro';
import ChatInput from '../../components/chat/ChatInput.astro';

const { id } = Astro.params;



---

<Layout title="Detalles de la sesión">


    <div class="flex-1 overflow-y-auto">
        <ChatMessage sessionId={id} />
    </div>
    <div class="sticky bottom-0 bg-white dark:bg-gray-800 p-4 border-t border-gray-200 dark:border-gray-700">
        <ChatInput />
    </div>

</Layout>
